@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400&family=Raleway:wght@200;300;400;500;600;700;800&family=Roboto+Condensed:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Spartan',sans-serif;
}

body {
  font-size: 62.5%;
  width: 100%;
}

body h1 {
  font-size: 5rem;
  line-height: 6.4rem;
  color: #222;
}

body h2 {
  font-size: 4.6rem;
  line-height: 6.4rem;
  color: #222;
}

body h4 {
  font-size: 20px;
  color: #222;
}

body h6 {
  font-weight: 700;
  font-size: 1.2rem;
}

body p {
  font-size: 1.6rem;
  color: #465b46;
  margin: 15px 0 20px 0;
}

body .section-p1 {
  padding: 40px 80px;
}

body .section-m1 {
  margin: 40px 0;
}

body button.normal {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body button.white {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* Header*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

header.color-scroll {
  background-color: transparent;
}

header .mobile {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #close {
  display: none;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

header .navbar li a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  color: #1a1a1a;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

header .navbar li a:hover, header .navbar li a.active {
  color: #088178;
  font-size: 1.8rem;
}

header .navbar li a.active::after, header .navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* home page */
#hero {
  background-image: url(../img/hero4.png);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #088178;
}

#hero button {
  background-image: url(../img/button.png);
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.5rem;
}

#feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  -webkit-box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
          box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #fff2e5;
}

#feature .fe-box:hover {
  -webkit-box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
          box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#products1 {
  text-align: center;
}

#products1 .pro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#products1 .pro-container .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  -webkit-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
          box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  position: relative;
}

#products1 .pro-container .pro img {
  width: 100%;
  border-radius: 20px;
}

#products1 .pro-container .pro:hover {
  -webkit-box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
          box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#products1 .pro-container .pro .des {
  text-align: start;
  padding: 10px 0;
}

#products1 .pro-container .pro .des span {
  color: #606063;
  font-size: 1.2rem;
}

#products1 .pro-container .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 1.4rem;
}

#products1 .pro-container .pro .des i {
  font-size: 1.2rem;
  color: #f3b519;
}

#products1 .pro-container .pro .des h4 {
  padding-top: 7px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #088178;
}

#products1 .pro-container .pro .cart {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#products1 .pro-container .pro .cart #i-cart {
  margin-top: 8px;
  line-height: 40px;
  font-weight: 500;
}

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: url(../img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: #fff;
  font-size: 1.6rem;
}

#banner h2 {
  color: #fff;
  font-size: 3rem;
  padding: 10px 0;
}

#banner h2 span {
  color: #ef3636;
}

#banner button:hover {
  background-color: #088178;
  color: #fff;
}

#sm-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url(../img/banner/b17.jpg);
  min-width: 500px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner .banner-box2 {
  background-image: url(../img/banner/b10.jpg);
}

#sm-banner .banner-box:hover button {
  background: #088178;
  border: 1px solid #cce7d0;
}

#sm-banner h4 {
  color: #fff;
  font-weight: 300;
  font-size: 2rem;
}

#sm-banner h2 {
  color: #fff;
  font-weight: 800;
  font-size: 2.8rem;
}

#sm-banner span {
  color: #fff;
  font-weight: 500;
  font-size: 1.4rem;
  padding-bottom: 15px;
}

#banner3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 80px;
}

#banner3 .banner3-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url(../img/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}

#banner3 .banner3-box2 {
  background-image: url(../img/banner/b4.jpg);
}

#banner3 .banner3-box3 {
  background-image: url(../img/banner/b18.jpg);
}

#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 1rem;
}

#banner3 h3 {
  color: #ec544e;
  font-weight: 800px;
  font-size: 1rem;
}

#newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 2.2em;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font: size 1.4rem;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
}

#newsletter .form input[type="text"] {
  height: 4.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter .form button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 1.4rem;
  padding-bottom: 20px;
}

footer p {
  font-size: 1.3rem;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer a:hover {
  color: #088178;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  font-size: 1.5rem;
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .follow i:hover {
  color: #088178;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

/* start media query*/
@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  .section-m1 {
    margin: 40px 0;
  }
  header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    -webkit-box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
            box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  header .navbar li {
    margin-bottom: 25px;
  }
  header .navbar #close {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #000;
    font-size: 2.4rem;
  }
  header .navbar #lg-bag {
    display: none;
  }
  header .navbar.active {
    right: 0px;
  }
  header .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  header .mobile i, header .mobile a {
    color: #1a1a1a;
    font-size: 2.4rem;
    padding-left: 20px;
  }
  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #feature {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #feature .fe-box {
    margin: 15px 15px;
  }
  #products1 .pro-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #products1 .pro {
    margin: 15px;
  }
  #banner {
    height: 20vh;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }
  #banner3 {
    padding: 0 40px;
  }
  #banner3 .banner3-box {
    min-width: 28%;
  }
  #banner3 #newsletter .form {
    width: 70%;
  }
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  .section-m1 {
    margin: 40px 0;
  }
  #header {
    padding: 10px 30px;
  }
  #header h2 {
    font-size: 3.2rem;
  }
  #header h1 {
    font-style: 3.8rem;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  #feature {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  #products1 .pro-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #products1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #sm-banner .banner-box {
    height: 40vh;
  }
  #sm-banner .banner-box2 {
    margin-top: 30px;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 .banner3-box {
    width: 100%;
  }
  #newsletter {
    padding: 40px 20px;
  }
  #newsletter .form {
    width: 100%;
  }
  footer .copyright {
    text-align: start;
  }
  #prodetails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }
  #prodetails .single-pro-details {
    width: 100%;
  }
  /* Blog page */
  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blog-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #blog .blog-box .blog-img {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  #blog .blog-box .blog-details {
    width: 100%;
  }
  #about-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }
  #about-head div {
    padding-left: 0px;
  }
  #about-head abbr, #about-head marquee {
    font-size: 15px;
  }
  #about-app {
    text-align: center;
  }
  #about-app .video {
    width: 100%;
  }
  #about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}

#contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span {
  font-size: 1.2rem;
}

#contact-details .details h2 {
  font-size: 2.6rem;
  line-height: 3.5rem;
  padding: 20px 0;
}

#contact-details .details h3 {
  font-size: 1.6rem;
  padding-bottom: 15px;
}

#contact-details .details li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 1.4rem;
  padding-right: 22px;
}

#contact-details .details li p {
  margin: 0;
  font-size: 1.4rem;
}

#contact-details .map {
  width: 55%;
  height: 400px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}

#form-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}

#form-details form {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#form-details form span {
  font-size: 1.2rem;
}

#form-details form h2 {
  font-size: 2.6rem;
  line-height: 3.5rem;
  padding: 20px 0;
}

#form-details form input, #form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button {
  background-color: #088178;
  color: #fff;
}

#form-details .people div {
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#form-details .people div img {
  width: 65px;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
}

#form-details .people div p {
  margin: 0;
  font-size: 1.3rem;
  line-height: 2.5rem;
}

#form-details .people div p span {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
}
/*# sourceMappingURL=contact.css.map */